/* STARS */
.rating-input
{
    display: table;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating-input input
{
    display: none;
}

.rating-input label::before
{
    content: "\2605";
    padding: 5px;
    font-size: 1.7em;

    @include for-tablet-landscape-up {
        font-size: 2em;
    }
}

.rating-input label
{
    color: #ccc;
}

.rating-input input:checked ~ label
{
    color: $yellow-color;
    transition: $default-transition;
}