.product-name {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    color: $gray-color;

    @include for-tablet-landscape-up {
        font-size: 1.2em;
    }
}

.current-step {
    font-weight: 500;
    font-size: 1.3em;

    @include for-tablet-landscape-up {
        font-size: 1.5em;
    }
}

.question-title {
    font-size: 0.8em;
    font-weight: 500;

    @include for-tablet-landscape-up {
        font-size: 0.9em;
    }
}

.question-caption {
    font-size: 0.7em;
    font-weight: 100;
    color: $gray-color;

    @include for-tablet-landscape-up {
        font-size: 0.8em;
    }
}